body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    color: black;
}

/* Dark mode */
.dark-mode {
    background-color: #1e1e1e;
    color: white;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #4CAF50;
    color: white;
}

section {
    padding: 20px;
    margin: 10px;
}

button {
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
}
